html,body, #total-wrap{
    padding: 0;
    margin: 0;

    /* width: 100%; */
    /* height: 100%; */

    background-color: #070708;
}

#total-wrap{
    padding: 5px;
}

#centering-wrap{
    width: 100%;

    margin: 0;
    padding:7.5px 0px;

    display: flex;
    justify-content: center;
}

#playlist{
    /* padding: 5px 0px; */
    margin: 0;
    /* min-width: 405px; */
    max-height: 426.25px;

    overflow: auto;
}

::-webkit-scrollbar {
    width: 3.25px;
    height: 50px;
}

    /* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(90, 88, 88); 
    border-radius: 2px;
}
    
    /* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(92, 87, 87); 
    border-radius: 2px;
}

    /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #726d6d; 
}

#nav-wrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#logo-wrap{
    padding: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#logo-img{
    width: 155px;
    height: 40px;
}

#active-queue-message{
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    font-family: "Roboto Mono";
    font-size: 10px;

    color: rgb(23, 182, 36);

    padding: 5px 10px;
}

#info-img{
    filter: invert(85%);

    width: 18px;
    height: 18px;

    transition: filter .3s linear;
}

#info-img:hover{
    filter: invert(40%);

    cursor: pointer;
}

#start-queue, #stop-queue, #skip-vid, #reverse-vid{
    /* background-color:aquamarine; */
    width: 28px;
    height: 28px;

    /* border: .5px solid black; */

    display: flex;
    align-items: center;
    justify-content: center;

    filter: invert(85%);

    transition: opacity .3s linear;
}

#stop-queue{
    display: none;
}

#start-queue-img, #stop-queue-img, #skip-vid-img, #reverse-vid-img{
    width: 21px;
    height: 21px;
}

#reverse-vid-img{
    transform:rotateY(180deg);
}

#start-queue:hover, #stop-queue:hover, #skip-vid:hover, #reverse-vid:hover{
    cursor: pointer;

    opacity: .65;
}

.queue_vid_container{
    width: 405px;
    height: 70px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 13.5px 5px;

    background-color: #1E1E23;

    border-bottom: .25px solid #181A1B;

    transition: background-color .3s linear;
}

.queue_vid_container:hover{
    background-color: rgb(39, 39, 44);
}

.queue_vid_container_link{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    text-decoration: none;

    z-index: 999;
}

#thumbnail_container{
    width: 30%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#thumbnail_content{
    width: 85%;
    height: 85%;
}

#remove-butt-cont{
    width: 10%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#remove-butt-img{
    width: 16px;
    height: 16px;

    filter: invert(65%);
    transition: filter .3s linear;
}

#remove-butt-img:hover{
    cursor: pointer;
    filter: invert(100%);
}

#meta_content_container{
    width: 60%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    color: rgba(245, 246, 250,1.0);
    text-decoration: none;
}

#meta_content_container h3, #meta_content_container h5{
    margin: 0;
    
    text-decoration: none;
}

#meta_content_container h5{
    color: #97A0A4;
    margin-top: 5px;
}

#empty_queue_container{
    width: 275px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    padding: 25px;
    margin: 0;
}

#empty_queue_container h3{
    color:  rgba(245, 246, 250,1.0);
}

#message-holder{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Roboto Mono';
}

.info-message{
    display: flex;
    align-items: center;
    text-align: center;

    opacity: 0;

    color: #f5f6fa;
}

.info-message p{
    font-size: 12px;
    font-family: 'Roboto Mono';
    margin: 0;
    padding: 5px 15px;
}

#settings-dropdown{
    position: relative;
    display:inline-block;
    
}

#settings{
    font-family: 'Roboto Mono';
    font-size: 14px;

    display: none;
    position: absolute;
    right:3px;
    top: 20px;

    background-color: #f1f1f1;
    width: 110px;

    text-align: center;

    padding: 5px;

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#settings:hover{
    background-color: #ddd;
    cursor: pointer;
}

#settings-dropdown:hover #settings{
    display: block;
}

#active{
    background-color: #303952;
}